    html{
        width: 100%;
        height: 100%;
        background: linear-gradient(342deg, rgba(24,90,157,1) 1%, rgba(67,206,162,1) 100%);
    }   

    li {
        background-color: blue;
        border-radius: 30px;
        display: flex;
        list-style: none;
        font-family: cursive ;
        font-size: 30px;
        text-align: center;
        width: 300px;
        margin-bottom: 10px;
    }

    button{
        border-radius: 8px;
        width: 33px;
        margin: auto;
        margin-right: 12px;
    }
    h2{
        font-size: 40px;
        font-family: cursive;
        padding: 20px;
        
    }

    label{
        font-family: cursive;
        font-size: 30px;
        position:relative;
        padding: 12px 15px;
    }

    p {
        margin: 0;
        margin-left: 10px;
        word-wrap: break-word;
        white-space: nowrap;
        max-width: 240px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p:hover {
        white-space: break-spaces;
    }
